[Unit]
Description=snap data directory mount
Documentation=https://forum.snapcraft.io/
# See snap.mount for why this is conditional on there being no preserved snap
# mount namespace yet.
ConditionPathExistsGlob=!/run/snapd/ns/*.mnt
# See snap.mount for why this is ordered ahead of both sysinit.target and
# snapd.mounts-pre.target.
Before=sysinit.target
Before=snapd.mounts-pre.target

[Mount]
# See snap.mount for why this needs to be a recursive bind mount made
# private before being made shared.
What=/var/snap
Where=/var/snap
Options=rbind,private,shared

[Install]
WantedBy=sysinit.target snapd.mounts-pre.target
